* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.networksContainer {
  background-color: rgb(13, 8, 50);
  width: 100%;
  height: auto;
  position: fixed;
  color: wheat;
  z-index: 9999;
}

.mainContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0vh 0vh vh 0vh;
}
.mainContainer__separatorContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContainer__separatorContainer__separatorService {
  background-color: #ccc;
  width: 40%;
  height: 2vh;
  border-bottom-right-radius: 20vh;
  border-bottom-left-radius: 20vh;
}
.mainContainer__services {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 2vh;
  gap: 4vh;
}
.mainContainer__services__title {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContainer__services__title__prop {
  background-color: #231b72;
  text-align: center;
  font-size: 25px;
  font-family: sans-serif;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 20vh;
  padding: 1vh 25vh;
  color: white;
  box-shadow: 10px 10px 10px black, -4px -4px 10px black;
}
.mainContainer__services__cardsContainer {
  background-color: #231b72;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  border-radius: 10%;
  overflow: hidden;
  color: black;
  box-shadow: 10px 10px 10px black, -4px -4px 10px black;
}
.mainContainer__services__cardsContainer__cardContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10vh 0vh;
}
.mainContainer__services__cardsContainer__cardContainer__card {
  background-color: #ccc;
  width: 85%;
  height: 500px;
  border-radius: 5vh;
  padding: 2vh 0vh;
  display: grid;
  grid-template-rows: 2fr 1fr 3fr;
  box-shadow: 14px 14px 10px black, -4px -4px 10px black;
}
.mainContainer__services__cardsContainer__cardContainer__card__imgContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContainer__services__cardsContainer__cardContainer__card__imgContainer__img {
  width: 70%;
}
.mainContainer__services__cardsContainer__cardContainer__card__titleContainer {
  background-color: rgb(88, 137, 137);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 5vh;
  border-bottom-left-radius: 5vh;
}
.mainContainer__services__cardsContainer__cardContainer__card__titleContainer__title {
  text-align: center;
  font-size: 20px;
  padding: 0vh 2vh;
}
.mainContainer__services__cardsContainer__cardContainer__card__descrContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.mainContainer__services__cardsContainer__cardContainer__card__descrContainer__descr {
  width: 90%;
  text-align: justify;
  font-size: 16px;
  padding-top: 1vh;
}
.mainContainer__contactContainer {
  width: 100%;
  height: auto;
  padding-top: 4vh;
}
.mainContainer__contactContainer__contact {
  background-image: url("../img/fondo_contact_negro.jpg");
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 1vh;
  padding: 0vh 0vh;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  box-shadow: 10px 10px 10px black, -4px -4px 10px black;
}
.mainContainer__contactContainer__contact__titleContainer {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 4vh;
  border-bottom-right-radius: 4vh;
}
.mainContainer__contactContainer__contact__titleContainer__title {
  text-align: center;
  font-size: 25px;
  font-family: sans-serif;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 20vh;
  padding: 4vh 0vh;
  font-weight: bold;
  color: white;
}
.mainContainer__contactContainer__contact__info {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}
.mainContainer__contactContainer__contact__info__myData {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  border-right: 0.5vh solid white;
}
.mainContainer__contactContainer__contact__info__myData__data {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 4vh 4vh;
  border-top-left-radius: 10vh;
  border-bottom-right-radius: 10vh;
  box-shadow: 10px 10px 10px black, -4px -4px 10px black;
}
.mainContainer__contactContainer__contact__info__formContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh 0vh;
}
.mainContainer__contactContainer__contact__info__formContainer__form {
  width: 60%;
  height: auto;
  padding: 5vh 5vh 6vh 5vh;
  border-radius: 5vh;
  color: white;
}
.mainContainer__contactContainer__contact__info__formContainer__form__labels {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4vh;
  padding-top: 1vh;
}
.mainContainer__contactContainer__contact__info__formContainer__form__labels__label {
  font-size: 16px;
}
.mainContainer__contactContainer__contact__info__formContainer__form__inputs {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4vh;
  padding-top: 1vh;
}
.mainContainer__contactContainer__contact__info__formContainer__form__inputs__input {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContainer__contactContainer__contact__info__formContainer__form__inputs__input__prop {
  width: 100%;
  height: 30px;
  font-size: 16px;
  border-radius: 1vh;
  border: none;
}
.mainContainer__contactContainer__contact__info__formContainer__form__labelMsj {
  width: 100%;
  height: auto;
  padding-top: 1vh;
}
.mainContainer__contactContainer__contact__info__formContainer__form__labelMsj__label {
  font-size: 16px;
}
.mainContainer__contactContainer__contact__info__formContainer__form__textAreaContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1vh;
}
.mainContainer__contactContainer__contact__info__formContainer__form__textAreaContainer__textArea {
  width: 90%;
  height: 100px;
  font-size: 16px;
  border-radius: 1vh;
}
.mainContainer__contactContainer__contact__info__formContainer__form__btnContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4vh;
}
.mainContainer__contactContainer__contact__info__formContainer__form__btnContainer__btn {
  background-color: #cfcddd;
  width: 60%;
  height: auto;
  padding: 0.5vh 5vh;
  box-shadow: 5px 5px 15px black, -4px -4px 10px black;
  color: black;
  font-size: 20px;
  border-radius: 2vh;
  transition: all 0.5s;
  letter-spacing: 0.3vh;
  font-weight: bold;
}
.mainContainer__contactContainer__contact__info__formContainer__form__btnContainer__btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  scale: 1.1;
}

.headerContainer {
  width: 100%;
  height: 100vh;
  background-image: url("../img/luna_eclipse.jpg");
  position: relative;
  overflow: hidden;
}
.headerContainer__headerMobile {
  display: none;
}
.headerContainer__header {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: fixed;
  transition: top 0.5s ease-in-out;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  z-index: 1;
}
.headerContainer__header__logoContainer {
  width: 100%;
  height: auto;
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerContainer__header__logoContainer__logo {
  width: 40%;
  height: auto;
}
.headerContainer__header__menuContainer {
  width: 100%;
  height: auto;
  grid-column: 4/5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerContainer__header__menuContainer__menu {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.headerContainer__header__menuContainer__menu__item {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerContainer__header__menuContainer__menu__item__prop {
  color: white;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  font-family: sans-serif;
}
.headerContainer__header__menuContainer__menu__item__prop:hover {
  background-color: white;
  color: black;
  padding: 1vh;
  border-radius: 2vh;
  transform: scale(1.1);
  cursor: pointer;
  text-decoration: underline;
}
.headerContainer__homeContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45vh 0vh 0vh 0vh;
}
.headerContainer__homeContainer__phraseContainer {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh 0vh;
}
.headerContainer__homeContainer__phraseContainer__phrase {
  width: 80%;
  color: rgb(255, 255, 255);
  font-size: 55px;
  -webkit-text-stroke: 3px white;
  font-weight: bold;
}
.headerContainer__separatorHomeContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.headerContainer__separatorHomeContainer__separatorHome {
  background-color: #ccc;
  width: 40%;
  height: 2vh;
  border-top-right-radius: 20vh;
  border-top-left-radius: 20vh;
}

.menuOptionsContainer {
  display: none;
}

@media (max-width: 480px) {
  .headerContainer {
    width: 100%;
    height: 100vh;
    background-image: url("../img/luna_eclipse_V.jpg");
    background-size: cover;
  }
  .headerContainer__header {
    display: none;
  }
  .headerContainer__headerMobile {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    position: fixed;
    z-index: 1;
    transition: top 0.5s ease-in-out;
  }
  .headerContainer__headerMobile__logoContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
  }
  .headerContainer__headerMobile__logoContainer__logo {
    width: 80%;
  }
  .headerContainer__headerMobile__menu {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    gap: 1vh;
  }
  .headerContainer__headerMobile__menu__linea {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1vh;
  }
  .headerContainer__headerMobile__menu__linea__prop {
    background-color: white;
    width: 100%;
    height: 0.8vh;
    border-radius: 1vh;
  }
  .headerContainer__homeContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45vh 0vh 0vh 0vh;
  }
  .headerContainer__homeContainer__phraseContainer {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh 0vh;
  }
  .headerContainer__homeContainer__phraseContainer__phrase {
    width: 85%;
    color: rgb(255, 255, 255);
    font-size: 30px;
    -webkit-text-stroke: 2px white;
    font-weight: bold;
    letter-spacing: 0.2vh;
  }
  .headerContainer__separatorHomeContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
  }
  .headerContainer__separatorHomeContainer__separatorHome {
    background-color: #ccc;
    width: 60%;
    height: 2vh;
    border-top-right-radius: 20vh;
    border-top-left-radius: 20vh;
  }
  .menuOptionsContainer {
    background-color: rgba(0, 0, 0, 0.95);
    width: 100%;
    height: auto;
    position: fixed;
    display: none;
    margin-top: 14vh;
    border-top-left-radius: 20%;
    z-index: 1;
  }
  .menuOptionsContainer__menuOptions {
    width: 100%;
    height: auto;
    z-index: 1;
    padding: 4vh 0vh 2vh 0vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
  }
  .menuOptionsContainer__menuOptions__item {
    color: white;
    letter-spacing: 0.5vh;
    font-size: 16px;
    gap: 1vh;
    padding-left: 2vh;
  }
}
@media (max-width: 480px) {
  .mainContainer {
    background-color: whitesmoke;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0vh 0vh 0vh 0vh;
  }
  .mainContainer__separatorContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mainContainer__separatorContainer__separatorService {
    background-color: #ccc;
    width: 60%;
    height: 2vh;
    border-bottom-right-radius: 20vh;
    border-bottom-left-radius: 20vh;
  }
  .mainContainer__services {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .mainContainer__services__title {
    width: 100%;
  }
  .mainContainer__services__title__prop {
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 20vh;
    padding: 1vh 5vh;
    color: white;
  }
  .mainContainer__services__cardsContainer {
    background-color: white;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 5vh;
    overflow: hidden;
    color: black;
    gap: 5vh;
  }
  .mainContainer__services__cardsContainer__cardContainer {
    background-color: #231b72;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 0vh 5vh 0vh;
    border-radius: 5vh;
    box-shadow: 10px 10px 10px black, -4px -4px 10px black;
  }
  .mainContainer__services__cardsContainer__cardContainer__card {
    background-color: #ccc;
    width: 85%;
    height: 500px;
    border-radius: 5vh;
    padding: 2vh 0vh;
    display: grid;
    grid-template-rows: 2fr 1fr 3fr;
  }
  .mainContainer__services__cardsContainer__cardContainer__card__imgContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mainContainer__services__cardsContainer__cardContainer__card__imgContainer__img {
    width: 70%;
  }
  .mainContainer__services__cardsContainer__cardContainer__card__titleContainer {
    background-color: rgb(88, 137, 137);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5vh;
    border-bottom-left-radius: 5vh;
  }
  .mainContainer__services__cardsContainer__cardContainer__card__titleContainer__title {
    text-align: center;
    font-size: 20px;
    padding: 0vh 2vh;
  }
  .mainContainer__services__cardsContainer__cardContainer__card__descrContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  .mainContainer__services__cardsContainer__cardContainer__card__descrContainer__descr {
    width: 90%;
    text-align: justify;
    font-size: 16px;
    padding-top: 1vh;
  }
  .mainContainer__contactContainer {
    width: 100%;
    height: auto;
    padding-top: 0vh;
  }
  .mainContainer__contactContainer__contact {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
    padding: 0vh;
    border-top-right-radius: 10%;
  }
  .mainContainer__contactContainer__contact__titleContainer {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mainContainer__contactContainer__contact__titleContainer__title {
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 20vh;
    padding: 4vh 10vh;
    color: white;
  }
  .mainContainer__contactContainer__contact__info {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
  }
  .mainContainer__contactContainer__contact__info__myData {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    border-right: 0.5vh solid white;
  }
  .mainContainer__contactContainer__contact__info__myData__data {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 4vh 4vh;
    border-top-left-radius: 10vh;
    border-bottom-right-radius: 10vh;
    box-shadow: 10px 10px 10px black, -4px -4px 10px black;
  }
  .mainContainer__contactContainer__contact__info__formContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 0vh;
  }
  .mainContainer__contactContainer__contact__info__formContainer__form {
    width: 80%;
    height: auto;
    padding: 0vh 4vh 5vh 4vh;
    border-radius: 5vh;
  }
  .mainContainer__contactContainer__contact__info__formContainer__form__labels {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4vh;
    padding-top: 1vh;
  }
  .mainContainer__contactContainer__contact__info__formContainer__form__labels__label {
    font-size: 14px;
  }
  .mainContainer__contactContainer__contact__info__formContainer__form__inputs {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4vh;
    padding-top: 1vh;
  }
  .mainContainer__contactContainer__contact__info__formContainer__form__inputs__input {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mainContainer__contactContainer__contact__info__formContainer__form__inputs__input__prop {
    width: 100%;
    height: 30px;
    font-size: 14px;
    border-radius: 1vh;
    border: none;
  }
  .mainContainer__contactContainer__contact__info__formContainer__form__labelMsj {
    width: 100%;
    height: auto;
    padding-top: 1vh;
  }
  .mainContainer__contactContainer__contact__info__formContainer__form__labelMsj__label {
    font-size: 14px;
  }
  .mainContainer__contactContainer__contact__info__formContainer__form__textAreaContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1vh;
  }
  .mainContainer__contactContainer__contact__info__formContainer__form__textAreaContainer__textArea {
    width: 90%;
    height: 100px;
    font-size: 14px;
    border-radius: 1vh;
  }
  .mainContainer__contactContainer__contact__info__formContainer__form__btnContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4vh;
  }
  .mainContainer__contactContainer__contact__info__formContainer__form__btnContainer__btn {
    background-color: #cfcddd;
    width: 80%;
    height: auto;
    padding: 0.5vh 5vh;
    box-shadow: 5px 5px 15px black, -4px -4px 10px black;
    color: black;
    font-size: 20px;
    border-radius: 2vh;
    transition: all 0.5s;
  }
  .mainContainer__contactContainer__contact__info__formContainer__form__btnContainer__btn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    scale: 1.1;
  }
}/*# sourceMappingURL=main.css.map */