* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@mixin disFC {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
@keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}
@keyframes scaleUp {
    from {
      transform: scale(0.8);
      opacity: 0.5;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
}
@keyframes rotateIn {
    from {
      transform: rotate(-180deg);
      opacity: 0;
    }
    to {
      transform: rotate(0);
      opacity: 1;
    }
}
.fade-in {
    animation: fadeIn 1s ease-out forwards;
}
.slide-in-left {
    animation: slideInLeft 1s ease-out forwards;
}
.scale-up {
    animation: scaleUp 1s ease-out forwards;
}
.rotate-in {
    animation: rotateIn 1s ease-out forwards;
}

.networksContainer {
    //background-color: rgb(13, 8, 50);
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    color: wheat;
    z-index: 9999;
    padding: 2vh 0vh;
    z-index: 1;
    &__network {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: end;
        &__img {
            width: 5%;
            padding-right: 5vh;
            transition: transform 0.3s ease-in-out;
            &:hover {
                transform: scale(1.2);
                //animation: rotate-in 0.3s ease-in-out forwards;
                //animation: scale(1.1) 0.3s ease-in-out forwards
            }
        }
    }
}

.mainContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0vh 0vh vh 0vh;
    &__separatorContainer {
        width: 100%;
        height: auto;
        @include disFC();
        &__separatorService {
            background-color: #ccc;
            width: 40%;
            height: 2vh;
            border-bottom-right-radius: 20vh;
            border-bottom-left-radius: 20vh;
        }
    }
    &__services {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding-top: 2vh;
        gap: 4vh;
        &__title {
            width: 100%;
            height: auto;
            @include disFC();
            &__prop {
                background-color: #231b72;
                text-align: center;
                font-size: 25px;
                font-family: sans-serif;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                border-radius: 20vh;
                padding: 1vh 25vh;
                color: white;
                box-shadow: 10px 10px 10px black, -4px -4px 10px black;
            }
        }
        &__cardsContainer {
            background-image: url('../img/fondo_service.jpg');
            background-size: cover;
            //background-size: cover;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            //background-color: #231b72;
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: nowrap;
            //border-radius: 10%;
            overflow: hidden;
            color: black;
            box-shadow: 10px 10px 10px black, -4px -4px 10px black;
            &__cardContainer {
                width: 100%;
                height: auto;
                @include disFC();
                padding: 10vh 0vh;
                &__card {
                    background-color: #ccc;
                    width: 85%;
                    height: 500px;
                    border-radius: 5vh;
                    padding: 2vh 0vh 4vh 0vh;
                    display: grid;
                    grid-template-rows: 2fr 1fr 3fr;
                    box-shadow: 14px 14px 10px black, -4px -4px 10px black;
                    transition: transform 0.3s ease-in-out;
                    &:hover {
                        transform: scale(1.05);
                        cursor: pointer;
                        //animation: scaleUp
                        //animation: scaleUp 1s ease-in-out forwards; /* Activa la animación al pasar el ratón */
                    }
                    &__imgContainer {
                        width: 100%;
                        height: auto;
                        @include disFC();
                        &__img {
                            //background-color: rgba(105, 105, 105, 0.6);
                            width: 70%;
                            // border: 0.3vh solid black;
                            // border-radius: 2vh;
                        }
                    }
                    &__titleContainer {
                        background-color: rgb(35, 27, 114, 0.9);
                        width: 100%;
                        height: auto;
                        @include disFC();
                        border-top-right-radius: 5vh;
                        border-bottom-left-radius: 5vh;
                        &__title {
                            text-align: center;
                            font-size: 20px;
                            padding: 0vh 2vh;
                            color: white;
                        }
                    }
                    &__descrContainer {
                        width: 100%;
                        height: auto;
                        display: flex;
                        justify-content: center;
                        //overflow: hidden;
                        overflow-y: auto;
                        &::-webkit-scrollbar {
                            display: none;
                        }
                        &__descr {
                            width: 85%;
                            text-align: justify;
                            font-size: 16px;
                            padding-top: 1vh;
                        }
                    }
                }
            }
        }
    }
    &__contactContainer {
        width: 100%;
        height: auto;
        padding-top: 1vh;
        &__contact {
            background-image: url('../img/fondo_contact3.jpg');
            background-size: cover;
            //background-size: cover;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            overflow: hidden;
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            //margin-top: 0vh;
            //padding: 0vh 0vh;
            // border-top-left-radius: 5%;
            // border-top-right-radius: 5%;
            box-shadow: 10px 10px 10px black, -4px -4px 10px black;
            &__titleContainer {
                //background-color: rgb(0, 0, 0,0.7);
                width: 100%;
                height: auto;
                @include disFC();
                //box-shadow: 10px 10px 10px black, -4px -4px 10px black;
                border-bottom-left-radius: 4vh;
                border-bottom-right-radius: 4vh;
                &__title {
                    text-align: center;
                    font-size: 25px;
                    font-family: sans-serif;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    border-radius: 20vh;
                    padding: 4vh 0vh;
                    font-weight: bold;
                    color: white;
                }
            }
            &__info {
                width: 100%;
                height: auto;
                display: grid;
                grid-template-columns: 1fr 1.5fr;
                &__myData {
                    width: 100%;
                    height: auto;
                    @include disFC();
                    color: white;
                    font-size: 18px;
                    //border-right: 0.5vh solid white;
                    &__data {
                        background-color: rgba(0, 0, 0, 0.8);
                        padding: 4vh 4vh;
                        border-top-left-radius: 10vh;
                        border-bottom-right-radius: 10vh;
                        box-shadow: 10px 10px 10px black, -4px -4px 10px black;
                    }
                    &__dataMobile {
                        background-color: rgba(0, 0, 0, 0.8);
                        padding: 4vh 4vh;
                        border-top-left-radius: 10vh;
                        border-bottom-right-radius: 10vh;
                        box-shadow: 10px 10px 10px black, -4px -4px 10px black;
                        display: none;
                    }
                }
                &__formContainer {
                    width: 100%;
                    height: auto;
                    @include disFC();
                    padding: 5vh 0vh;
                    &__form {
                        background-color: rgb(0, 0, 0, 0.7);
                        width: 60%;
                        height: auto;
                        padding: 5vh 5vh 6vh 5vh;
                        //border-radius: 5vh;
                        color: white;
                        border-top-left-radius: 10vh;
                        border-bottom-right-radius: 10vh;
                        box-shadow: 10px 10px 10px black, -4px -4px 10px black;
                        &__labels {
                            width: 100%;
                            height: auto;
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            gap: 4vh;
                            padding-top: 1vh;
                            &__label {
                                font-size: 16px;
                            }
                        }
                        &__inputs {
                            width: 100%;
                            height: auto;
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            gap: 4vh;
                            padding-top: 1vh;
                            &__input {
                                width: 100%;
                                height: auto;
                                @include disFC();
                                &__prop {
                                    width: 100%;
                                    height: 30px;
                                    font-size: 16px;
                                    border-radius: 1vh;
                                    border: none;
                                }
                            }
                        }
                        &__labelMsj {
                            width: 100%;
                            height: auto;
                            padding-top: 1vh;
                            &__label {
                                font-size: 16px;
                            }
                        }
                        &__textAreaContainer {
                            width: 100%;
                            height: auto;
                            @include disFC();
                            padding-top: 1vh;
                            &__textArea {
                                width: 90%;
                                height: 100px;
                                font-size: 16px;
                                border-radius: 1vh;
                            }
                        }
                        &__btnContainer {
                            width: 100%;
                            height: auto;
                            @include disFC();
                            padding-top: 4vh;
                            &__btn {
                                background-color: #cfcddd;
                                width: 60%;
                                height: auto;
                                padding: 0.5vh 5vh;
                                box-shadow: 5px 5px 15px black, -4px -4px 10px black;
                                color: black;
                                font-size: 20px;
                                border-radius: 2vh;
                                transition: all 0.5s;
                                letter-spacing: 0.3vh;
                                font-weight: bold;
                                &:hover {
                                    background-color: white;
                                    color: black;
                                    cursor: pointer;
                                    transform: scale(1.1);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@import "header";

@media (max-width: 480px) {

    @keyframes slideInLeftSmall {
        from {
          transform: translateX(-20%); /* Menor desplazamiento en pantallas pequeñas */
          opacity: 0;
        }
        to {
          transform: translateX(0);
          opacity: 1;
        }
    }
    
    .slide-in-left {
        animation: slideInLeftSmall 1s ease-out forwards;
    }

    .networksContainer {
        //background-color: rgb(13, 8, 50);
        width: 100%;
        height: auto;
        position: fixed;
        bottom: 0;
        color: wheat;
        z-index: 9999;
        padding: 2vh 0vh;
        z-index: 1;
        &__network {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: end;
            &__img {
                width: 15%;
                padding-right: 5vh;
            }
        }
    }

    .mainContainer {
        background-color: whitesmoke;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 0vh 0vh 0vh 0vh;
        &__separatorContainer {
            width: 100%;
            height: auto;
            @include disFC();
            &__separatorService {
                background-color: #ccc;
                width: 60%;
                height: 2vh;
                border-bottom-right-radius: 20vh;
                border-bottom-left-radius: 20vh;
            }
        }
        &__services {
            background-color: white;
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            &__title {
                width: 100%;
                &__prop {
                    text-align: center;
                    font-size: 18px;
                    font-family: sans-serif;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    border-radius: 20vh;
                    padding: 1vh 5vh;
                    color: white;
                }
            }
            &__cardsContainer {
                background-image: none;
                background-color: white;
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                border-radius: 5vh;
                overflow: hidden;
                color: black;
                gap: 5vh;
                &__cardContainer {
                    background-image: url('../img/fondo_service.jpg');
                    background-size: cover;
                    width: 100%;
                    height: auto;
                    @include disFC();
                    padding: 5vh 0vh 5vh 0vh;
                    border-radius: 5vh;
                    box-shadow: 10px 10px 10px black, -4px -4px 10px black;
                    &__card {
                        background-color: #ccc;
                        width: 85%;
                        height: 500px;
                        border-radius: 5vh;
                        padding: 2vh 0vh 4vh 0vh;
                        display: grid;
                        grid-template-rows: 2fr 1fr 3fr;
                        &__imgContainer {
                            width: 100%;
                            height: auto;
                            @include disFC();
                            &__img {
                                width: 70%;
                            }
                        }
                        &__titleContainer {
                            background-color: #231b72;
                            width: 100%;
                            height: auto;
                            @include disFC();
                            border-top-right-radius: 5vh;
                            border-bottom-left-radius: 5vh;
                            &__title {
                                text-align: center;
                                font-size: 20px;
                                padding: 0vh 2vh;
                            }
                        }
                        &__descrContainer {
                            width: 100%;
                            height: auto;
                            display: flex;
                            justify-content: center;
                            &__descr {
                                width: 85%;
                                text-align: justify;
                                font-size: 16px;
                                padding-top: 1vh;
                            }
                        }
                    }
                }
            }
        }
        &__contactContainer {
            width: 100%;
            height: auto;
            padding-top: 0vh;
            &__contact {
                background-image: url('../img/fondo_contact3V.jpg');
                background-size: cover;
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                margin-top: 2vh;
                //padding: 0vh;
                //border-top-right-radius: 10%;
                &__titleContainer {
                    //background-color: rgb(0, 0, 0,0.7);
                    width: 100%;
                    height: auto;
                    @include disFC();
                    &__title {
                        text-align: center;
                        font-size: 18px;
                        font-family: sans-serif;
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        border-radius: 20vh;
                        padding: 4vh 10vh;
                        color: white
                    }
                }
                &__info {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    padding-top: 5vh;
                    &__myData {
                        width: 100%;
                        height: auto;
                        @include disFC();
                        color: white;
                        font-size: 14px;
                        //border-right: 0.5vh solid white;
                        &__data {
                            background-color: rgba(0, 0, 0, 0.7);
                            //background-color: none;
                            padding: 4vh 4vh;
                            border-top-left-radius: 10vh;
                            border-bottom-right-radius: 10vh;
                            box-shadow: 10px 10px 10px black, -4px -4px 10px black;
                            //box-shadow: none;
                            display: none;
                        }
                        &__dataMobile {
                            display: block;
                        }
                    }
                    &__formContainer {
                        width: 100%;
                        height: auto;
                        @include disFC();
                        padding: 5vh 0vh;
                        &__form {
                            width: 80%;
                            height: auto;
                            padding: 0vh 4vh 5vh 4vh;
                            border-radius: 5vh;
                            &__labels {
                                width: 100%;
                                height: auto;
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                gap: 4vh;
                                padding-top: 1vh;
                                &__label {
                                    font-size: 14px;
                                }
                            }
                            &__inputs {
                                width: 100%;
                                height: auto;
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                gap: 4vh;
                                padding-top: 1vh;
                                &__input {
                                    width: 100%;
                                    height: auto;
                                    @include disFC();
                                    &__prop {
                                        width: 100%;
                                        height: 30px;
                                        font-size: 14px;
                                        border-radius: 1vh;
                                        border: none;
                                    }
                                }
                            }
                            &__labelMsj {
                                width: 100%;
                                height: auto;
                                padding-top: 1vh;
                                &__label {
                                    font-size: 14px;
                                }
                            }
                            &__textAreaContainer {
                                width: 100%;
                                height: auto;
                                @include disFC();
                                padding-top: 1vh;
                                &__textArea {
                                    width: 90%;
                                    height: 100px;
                                    font-size: 14px;
                                    border-radius: 1vh;
                                }
                            }
                            &__btnContainer {
                                width: 100%;
                                height: auto;
                                @include disFC();
                                padding-top: 4vh;
                                &__btn {
                                    background-color: #cfcddd;
                                    width: 80%;
                                    height: auto;
                                    padding: 0.5vh 5vh;
                                    box-shadow: 5px 5px 15px black, -4px -4px 10px black;
                                    color: black;
                                    font-size: 20px;
                                    border-radius: 2vh;
                                    transition: all 0.5s;
                                    &:hover {
                                        background-color: white;
                                        color: black;
                                        cursor: pointer;
                                        scale: (1.1)
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}