* {
    padding: 0;
    margin: 0;
}

@mixin disFC {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes animacionEntrada1 {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animacionEntrada2 {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes animacionEntrada3 {
    0% {
        opacity: 0;
        transform: rotate(-10deg);
    }
    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}

.animacion-1 {
    animation-name: animacionEntrada1;
}

.animacion-2 {
    animation-name: animacionEntrada2;
}

.animacion-3 {
    animation-name: animacionEntrada3;
}

.mainContainer {
    background-color: whitesmoke;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 4vh 0vh;
    &__services {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        &__title {
            width: 100%;
            padding-bottom: 2vh;
            &__prop {
                text-align: center;
                font-size: 50px;
                font-family: sans-serif;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
        }
        &__carouselsContainer {
            background-color: #231b72;
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            border-top-left-radius: 10%;
            border-top-right-radius: 10%;
            &__carouselContainer {
                width: 100%;
                height: auto;
                @include disFC();
                padding: 10vh 0vh;
            }
        }
    }
}

/* carousel 1 */

.carousel {
    width: 60%;
    height: 600px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #635ab6;
    padding: 5vh 0vh;
    box-shadow: 24px 24px 20px black, -4px -4px 10px black;
    @include disFC();
}

  /* Contenedor de las diapositivas */
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

  /* Diapositivas individuales */
.slide {
    width: 100%;
    flex: 0 0 100%;
    box-sizing: border-box;
    &__img {
        width: 60%;
        display: flex;
        justify-self: center;
    }
    &__title {
        text-align: center;
        font-size: 40px;
    }
    &__descr {
        width: 50%;
        display: flex;
        justify-self: center;
        font-size: 30px;
        text-align: justify;
    }
}

  /* Botones de navegación */
.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.control {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.control:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

  /* Indicadores (opcional) */
.indicators {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.indicator {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.indicator.active {
    background-color: #555;
}

/* carousel 1 */

/* carousel 2 */

.carousel1 {
    width: 60%;
    height: 600px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    background-color: #635ab6;
    box-shadow: 24px 24px 20px black, -4px -4px 10px black;
    padding: 5vh 0vh;
}

.slides1 {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide1 {
    width: 100%;
    flex: 0 0 100%;
    box-sizing: border-box;
    &__img {
        width: 60%;
        display: flex;
        justify-self: center;
    }
    &__title {
        text-align: center;
        font-size: 40px;
    }
    &__descr {
        width: 50%;
        display: flex;
        justify-self: center;
        font-size: 30px;
        text-align: justify;
    }
}

.carousel-controls1 {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.control1 {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}
.control1:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.indicators1 {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.indicator1 {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.indicator1.active {
    background-color: #555;
}

/* carousel 2 */










@import "header";